html {
	height:100%
}

body {
	margin-top:80px;
	background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	min-height:100vh;
	padding:0

}
.thumbnail img {
	width:100%;
}

h1 {
	color:white;
}

label{
	color:white;
}

.thumbnail {
	padding:0;
}

.thumbnail .caption-full {
	padding:15px;
}

#delete-form{
	display:inline;
}
.lead {
	color:white;
}

.delete-form {
	display:inline;
}

.card-text {
	color:white;
	font-weight:2em;
}

#map {
	height:400px;
	width:100%;
}

#follow {
	display: inline;
}

#username {
	text-transform: capitalize;
}

.checked {
	color:orange;
}
.pull-right {
	margin-right:2px;
}

#delete-btn {
	display:inline;
}
.well {
	margin-bottom:0;
}
.footer {
	text-align:center;
	margin:auto;
}